<div class="container">
	<div class="component">
			<ul class="grid">
				<li>
					<div class="codrops-header">
						<%= link_to "Breakable Toy :casey", constructions_path, class: "head-title" %>
						<a class="codrops-icon codrops-icon-prev"
							href="https://github.com/caseykim/on-my-way-T">
							<span>GitHub</span>
						</a>
						<a class="codrops-icon codrops-icon-drop"
						href="https://www.linkedin.com/in/caseykkim">
							<span>LinkedIn</span>
						</a>
					</div>
				</li>
				<li class="ot-letter-left"><span data-letter="O">O</span></li>
				<li class="ot-letter-top"><span data-letter="N">N</span></li>
				<li class="ot-letter-right"><span data-letter="-">-</span></li>
				<li class="ot-letter-left"><span data-letter="M">M</span></li>
				<li class="ot-letter-bottom"><span data-letter="Y">Y</span></li>
				<li class="ot-letter-left"><span data-letter="W">W</span></li>
				<li class="ot-letter-right"><span data-letter="A">A</span></li>
				<li class="ot-letter-left"><span data-letter="Y">Y</span></li>
				<li class="ot-letter-top"><span data-letter="!">!</span></li>
				<li class="ot-letter-right"><span data-letter="T">T</span></li>
				<a href="/constructions">
					<li class="ot-letter-left go"><span data-letter=">">></span></li>
				</a>
				<li class="ot-letter-top"><span data-letter="O">O</s
          pan></li>
				<li class="ot-letter-left"><span data-letter="C">C</span></li>
				<li class="ot-letter-top"><span data-letter="T">T</span></li>
				<li class="ot-letter-right"><span data-letter="1">1</span></li>
				<li class="ot-letter-bottom"><span data-letter="5">5</span></li>
				<li class="ot-letter-right"><span data-letter="'">'</span></li>
			</ul>
		</div>
	</div>
</div>
