$("div.home-errors").html("");
$('#constructions').html("<%= j render(partial: 'constructions_list') %>");
$("div.errors").html(successAlert());
setTimeout(function(){
  $("#newConstruction").foundation('reveal','close');
}, 1000);


function successAlert() {
  var string = "";
  string += "<div data-alert class='alert-box success'>";
  string += "Successfully created";
  string += "<a href='#' class='close'>&times;</a>"
  string += "</div>"
  return string;
}
