$neutral: #d9d9d9;
$chicago-dirt: #b0a18f;
$white: #ffffff;

//************** NAVIGATION *******************************//
.nav-container {
  background-color: $white;
  border-bottom: 1px solid $neutral;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.dropdown {
  border: 1px solid $neutral;
  border-top: none;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);

  li,
  a {
    border-bottom: 1px solid $neutral;
  };
}

//************** Profile Photo *******************************//

.profile-photo {
  //*how to change the position of the photo*//
  border: 2px solid $neutral;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}
